<!DOCTYPE html>
<html lang="pt-br">
  <head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>

    <meta charset="utf-8">

    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->

    <link href="./css/main.css" rel="stylesheet">

  </head>

  <body>

    <header>
      <div class="holder">

        <a href="http://www.resultadosdigitais.com.br" title="Ir para home">
          <img src="./img/logo.png">
        </a>

      </div>
    </header>

    <section class="rdstation">
      <div class="holder">

        <h1>
          <img src="./img/rdstation.jpg" title="RD Station">
        </h1>

        <nav>

          <ul>
            <li><a href="http://www.rdstation.com.br/funcionalidades">Funcionalidades</a></li>
            <li><a href="http://www.rdstation.com.br/precos">Planos e Preços</a></li>
            <li><a href="http://pages.rdstation.com.br/teste-gratuito-do-rd-station">Teste Grátis</a></li>
            <li class="active"><a href="/estudos-de-caso">Estudos de caso</a></li>
            <li><a href="/">Blog</a></li>
          </ul>

        </nav>

      </div>
    </section>

    <section class="segments-nav">
      <div class="holder">

        <h2>Estudos de caso</h2>

        <p>
          Veja como nossos clientes de diversos segmentos vêm obtendo resultados melhores<br>
          e mais consistentes em Marketing Digital.
        </p>

      </div>

      <nav>
        <div class="holder">

          <ul>
            <li class="active"><a href="/">Educação</a></li>
            <li><a href="/">Serviços</a></li>
            <li><a href="/">Software</a></li>
            <li><a href="/">Todos</a></li>
          </ul>

        </div>
      </nav>

    </section>

    <section class="content">
      <div class="holder">

        {{ content }}

      </div>
    </section>

    <footer>
      <div class="holder">

        <p>© 2015 Resultados Digitais.</p>

      </div>
    </footer>

  </body>

  <script src="./js/jquery.js"></script>
  <script src="./js/main.js"></script>

</html>
