.cases-list {
  padding: 0;
  margin: 0;

  li {
    border-top: 1px solid $light-gray-2;
    padding-top: 30px;
    margin-top: 30px;
    list-style-type: none;
    @include outer-container;
    max-width: 80%;

    @media (max-width: 686px) {
      max-width: 100%;
    }
  }

  li:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }

  .case-title {
    font-size: $font-large-2;
    line-height: 32px;

    @media (max-width: 686px) {
      font-size: $font-large;
      line-height: 22px;
    }

    a {
      color: $blue;

      &:hover {
        opacity: .8;
      }
    }
  }

  .case-infos {
    @include span-columns(8);

    @media (max-width: 686px) {
      @include span-columns(12);
      margin-bottom: 20px;
    }
  }

  .case-img {
    @include span-columns(3);
    float: right;

    @media (max-width: 686px) {
      @include span-columns(12);
      text-align: center;
      float: none;
    }

    img {
      width: 100%;

      @media (max-width: 686px) {
        width: 180px;
      }
    }
  }
}


// View more

.view-more {
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
  font-weight: bold;
  font-size: $font-small;
  background: $light-brown;
  color: $brown;
  margin-top: 20px;
}
