// Content

.content {
  padding: 70px 0;
  @include clearfix;

  p {
    font-size: $font-medium-2;
    margin: 15px 0 0 0;
    color: $medium-gray;
    line-height: 24px;

    @media (max-width: 686px) {
      line-height: 21px;
    }
  }

  h3 {
    margin: 0;
  }

  h4 {
    margin-top: 30px;
  }

  h4:first-child {
    margin-top: 0;
  }

  h3,
  li {
    font-size: $font-medium;
  }
}

.pic {
  text-align: center;

  img {
    border: 1px solid rgba($brown, .2);
    margin-top: 25px;
    padding: 5px;
  }

  .desc {
    font-size: $font-small;
  }
}

