// Header

header {
  background: $light-gray;
  height: 50px;

  a img {
    width: 160px;
    margin-top: 15px;

    &:hover {
      opacity: .9;
    }
  }

  nav {
    float: right;
  }

  ul {
    padding: 0;
    margin: 12px 0 0 0;
  }

  li {
    font-size: $font-medium;
    display: inline-block;
    margin-left: 15px;

    a {
      text-decoration: none;
      color: rgba($medium-gray, .8);

      &:hover {
        color: rgba($medium-gray, 1);
      }
    }
  }

  @media (max-width: 686px) {

    height: auto;
    padding-bottom: 10px;

    nav {
      display: none;
      float: none;
    }

    li {
      display: block;
      margin: 0 0 2px 0;

      a {
        border-radius: 2px;
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        background: rgba($medium-gray, 1);
        display: block;
        color: rgba($white, 1);

        &:hover {
          background: rgba($medium-gray, .9);
          color: $white;
        }
      }
    }

    .menu-trigger {
      display: inline-block; /* Enable mobile menu trigger */
      background: $medium-gray;
      color: $white;
      height: 30px;
      line-height: 30px;
      border-radius: 2px;
      text-decoration: none;
      padding: 0 10px;
      position: absolute;
      right: 4%;
      top: 9px;
      z-index: 200;
      text-transform: uppercase;
      font-size: $font-small;

      &:hover {
        opacity: .9;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }
    }

  }  /* media querie */
}

.menu-trigger {
  display: none; /* Disable mobile menu trigger */
}
