.rdstation {
  padding: 25px 0 30px 0;
  background: $brown;
  color: $white;
  @include clearfix;

  h1 {
    margin: 0;
  }

  img {
    width: 170px;
    float: left;
  }

  ul {
    padding: 0;
    margin: 10px 0 0 0;
    float: right;
  }

  li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
  }

  a {
    color: rgba($white, .8);

    &:hover {
      color: rgba($white, 1);
    }
  }

  .active {
    font-weight: bold;

    a {
      color: rgba($white, 1);
    }
  }
}
