.segments-nav {
  background: $light-brown;
  padding: 30px 0 40px 0;
  @include clearfix;
  position: relative;
  text-align: center;

  h2 {
    text-transform: uppercase;
    font-size: $font-big;
    margin: 0 0 10px 0;
    color: $brown;
  }

  p {
    color: $medium-gray;
    font-size: $font-large;
    line-height: 24px;
    margin-bottom: 30px;

     @media (max-width: 686px) {
      font-size: $font-medium-2;
      line-height: 21px;

      br {
        display: none;
      }
    }
  }

  nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background: rgba($brown, .2);
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    list-style-type: none;
    margin-left: 5px;

    @media (max-width: 960px) {
      margin: 0 5px 0 0;
    }
  }

  a {
    border-radius: 2px 2px 0 0;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: rgba($white, .5);
    font-size: $font-medium;
    padding: 0 12px;
    color: $brown;

    @media (max-width: 686px) {
      font-size: $font-medium;
      padding: 0 10px;
    }

    &:hover {
      background: rgba($white, .7);
    }
  }

  .active {
    font-weight: bold;

    a {
      background: rgba($white, 1);

      &:hover {
        background: rgba($white, 1);
      }
    }
  }
}
